<div class="map-navigation">
  <div class="map-navigation__item" {{action 'toggleDrawingMode'}}>
    {{#if drawingMode}}
      Deactivate Drawing Mode
    {{else}}
      Activate Drawing Mode
    {{/if}}
  </div>
</div>


{{#if settings.baseMap}}
  {{map-controller
    zoomIn='zoomIn'
    zoomOut='zoomOut'
    mapControllerPositionX=mapControllerPositionX
    mapControllerPositionY=mapControllerPositionY
    isVisible=isMapController
  }}
{{/if}}

{{#if editTask}}
  {{task-item
    anchor=editTask.anchor
    editTask=editTask
    clearEditTask='clearEditTask'
    removeTaskLayer='removeTaskLayer'
  }}
{{/if}}

{{draw-overlay
  mapId=elementId
  isVisible=drawingMode
}}

{{yield}}
