<div class="map-navigation">
  <div class="map-navigation__item" {{action 'toggleDrawingMode'}}>
    {{#if drawingMode}}
      Deactivate Drawing Mode
    {{else}}
      Activate Drawing Mode
    {{/if}}
  </div>
</div>


<!-- TODO: Remove after adding TUIO.js -->
{{#if settings.baseMap}}
  {{map-controller moveMap='moveMap' rotateMap='rotateMap' zoomIn='zoomIn' zoomOut='zoomOut'}}
{{/if}}

{{#if editTask}}
  {{task-item anchor=editTask.anchor editTask=editTask clearEditTask='clearEditTask' removeTaskLayer='removeTaskLayer'}}
{{/if}}

{{#if drawingMode}}
  {{draw-overlay mapId=elementId}}
{{/if}}

{{yield}}
