<!-- <div class="map-navigation">
  <div class="map-navigation__item" {{action 'drawingMode' on='tap'}}>
    {{#if drawingMode}}
      Abbrechen
    {{else}}
      Neue Task
    {{/if}}
  </div>
</div> -->


{{#if (and settings.baseMap isMapController) }}
  {{map-controller
    zoomIn='zoomIn'
    zoomOut='zoomOut'
    mapControllerPositionX=mapControllerPositionX
    mapControllerPositionY=mapControllerPositionY
  }}
{{/if}}

{{#if drawingMode}}
  {{draw-overlay
    mapId=elementId
    selectedFeature=selectedFeature
    selectedAddShape=selectedAddShape
    drawingMode='drawingMode'
    newDrawing=newDrawing
  }}
{{/if}}

{{#if settings.baseMap }}
  {{tasks-without-shape
    tasks=tasks
    addShapeToTask='addShapeToTask'
  }}

  {{ember-notify
    task=task
    addShapeToTask='addShapeToTask'
  }}
{{/if}}

{{yield}}
