<div class="map-navigation">
  <div class="map-navigation__item" {{action 'toggleDrawingMode' on='tap'}}>
    {{#if drawingMode}}
      Deactivate Drawing Mode
    {{else}}
      Activate Drawing Mode
    {{/if}}
  </div>
</div>


{{#if settings.baseMap}}
  {{map-controller
    zoomIn='zoomIn'
    zoomOut='zoomOut'
    mapControllerPositionX=mapControllerPositionX
    mapControllerPositionY=mapControllerPositionY
    isVisible=isMapController
  }}
{{/if}}

{{draw-overlay
  mapId=elementId
  isEditing=isEditing
  selectedFeature=selectedFeature
  isVisible=drawingMode
}}

{{yield}}
