{{#if (eq taskMode 'newTask')}}
  {{partial 'task-mode/new-task'}}
{{/if}}

{{#if (eq taskMode 'editTask')}}
  {{partial 'task-mode/edit-task'}}
{{/if}}

{{#if (eq taskMode 'addShape')}}
  {{partial 'task-mode/add-shape'}}
{{/if}}

<div class="task-item__indicator task-item__indicator--{{position}}"></div>
{{yield}}
