{{#if newTask}}
  <div class="task-item__header">
    Aufgabe erstellen?
  </div>
  <div class="task-item__content">
  </div>
  <div class="task-item__button-container">
    <div class="task-item__button-container__button" {{action 'createTask' on='tap'}}>Create</div>
    <div class="task-item__button-container__button" {{action 'cancelTask' on='tap'}}>Cancel</div>
  </div>
{{/if}}

{{#if editTask}}
  <div class="task-item__header">
    Edit task?
  </div>
  <div class="task-item__content">
    TaskID: {{editTask.layer.id}}
  </div>
  <div class="task-item__button-container">
    <div class="task-item__button-container__button" {{action 'closeTask' on='tap'}}>Close</div>
    <div class="task-item__button-container__button" {{action 'deleteTask' on='tap'}}>Delete</div>
  </div>
{{/if}}
<div class="task-item__indicator"></div>
{{yield}}
