{{#if (eq taskMode 'newTask')}}
  <div class="task-item__header">
    Aufgabe erstellen?
  </div>
  <div class="task-item__content">
  </div>
  <div class="task-item__button-container">
    {{select-button value='polizei'}}
    <div class="task-item__button-container__button" {{action 'createTask' on='press'}}>Create</div>
    <div class="task-item__button-container__button" {{action 'cancelTask' on='press'}}>Delete</div>
  </div>
{{/if}}

{{#if (eq taskMode 'editTask')}}
  <div class="task-item__header">
    Edit task?
  </div>
  <div class="task-item__content">
    {{#each taskOption in taskOptions}}
      {{taskOption.title}}
    {{/each}}
    <!-- Description plus onscreen keyboard -->
    {{task-option}}
    {{task-priority priority=priority}}
    <div class="task-item__button-container__button" {{action 'deleteTask' on='tap'}}>Delete</div>
  </div>
  <div class="task-item__button" {{action 'saveTask' on='tap'}}>Save</div>
{{/if}}

{{#if (eq taskMode 'addShape')}}
  <div class="task-item__header">
    Shape hinzufügen?
  </div>
  <div class="task-item__content">
    TaskID: {{selectedAddShape.id}}
  </div>
  <div class="task-item__button-container">
    <div class="task-item__button-container__button" {{action 'saveTask' on='press'}}>Save</div>
    <div class="task-item__button-container__button" {{action 'deleteTask' on='press'}}>Delete</div>
  </div>
{{/if}}
<div class="task-item__indicator"></div>
{{yield}}
