{{#if (eq taskMode 'newTask')}}
  <div class="task-item__header">
    <div class="task-item__header__toolbar">
      <div class="task-item__header__toolbar__close" {{action 'cancelTask' on='tap'}}>X</div>
    </div>
    <div class="task-item__header__title">
      Neue Aufgabe
    </div>
    Bitte wählen Sie eine Einheit und Aufgabe aus und wählen Sie die Priorität für diese Aufgabe.
  </div>
  <div class="task-item__content">
  </div>
  <div class="task-item__button" {{action 'createTask' on='tap'}}>Create</div>
{{/if}}

{{#if (eq taskMode 'editTask')}}
  <div class="task-item__header">
    <div class="task-item__header__toolbar">
      <div class="task-item__header__toolbar__button" {{action 'toggleSize' on='tap'}}><i class="fa fa-arrows-alt fa-fw"></i></div>
      <div class="task-item__header__toolbar__button" {{action 'saveTask' on='tap'}}><i class="fa fa-times fa-fw"></i></div>
    </div>
    <div class="task-item__header__title">
      <h2>Aufgabe bearbeiten</h2>
      <div class="task-item__header__title__subline">Bitte wählen Sie eine Einheit und Aufgabe aus und setzen Sie die Priorität für diese Aufgabe.</div>
      <!-- Name der Task -->
    </div>

  </div>
  <div class="task-item__map">
    {{#if isLarge}}
      {{taskId}}
      {{mapbox-gl-map settings=map}}
    {{/if}}
  </div>
  <div class="task-item__content">
    {{#each taskOption in taskOptions}}
      {{taskOption.title}}
    {{/each}}
    <!-- Description plus onscreen keyboard -->
    <!-- Type -->
    <!-- Priorität -->
    <div class="task-item__button-container__button" {{action 'deleteTask' on='tap'}}>Delete</div>
  </div>
  <div class="task-item__button" {{action 'saveTask' on='tap'}}>Save</div>
{{/if}}

{{#if (eq taskMode 'addShape')}}
  <div class="task-item__header">
    Shape hinzufügen?
  </div>
  <div class="task-item__content">
    TaskID: {{selectedAddShape.id}}
  </div>
  <div class="task-item__button-container">
    <div class="task-item__button-container__button" {{action 'addShape' on='tap'}}>Add</div>
    <div class="task-item__button-container__button" {{action 'cancelTask' on='tap'}}>Delete</div>
  </div>
{{/if}}

<div class="task-item__indicator task-item__indicator--{{position}}"></div>
{{yield}}
