{{#each map in maps}}
  {{#if map.baseMap}}
    {{mapbox-gl-map
      settings=map
      tasks=tasks
      addShapeToTask=addShapeToTask
    }}
  {{else}}
    {{lence-overlay
      settings=map
      tasks=tasks
      isVisible=map.active
    }}
  {{/if}}
{{/each}}

{{outlet}}
<div class="relaod-window" {{action 'reloadWindow'}}>System Neustarten</div>
<div class="help">
  <div class="help__header">
    <h1>Wie bediene ich das System?</h1>
  </div>
  <div class="help__content">
    Durch eine <strong>press</strong> auf die Karte gelangt man in den "Aufgaben erstellen" Modus und kann Areal auf der Karte zeichnen und für diese Aufgaben vergeben.<br><br>
    Schon erstellte Areale können ebenfalls über ein <strong>press</strong> wieder bearbeitet werden.
  </div>
</div>

<div class="console">
</div>