{{#each map in maps}}
  {{#if map.baseMap}}
    {{mapbox-gl-map
      settings=map
      tasks=tasks
      addShapeToTask=addShapeToTask
    }}
  {{else}}
    {{lence-overlay
      settings=map
      tasks=tasks
      isVisible=map.active
    }}
  {{/if}}
{{/each}}

{{ember-notify
  task=task
  addShapeToTask='addShapeToTask'
}}

{{outlet}}

<!-- <div class="console">
</div> -->